<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head'); %>
</head>
<body>
  <%- include('../partials/nav'); %>
  <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Yoga Pose Estimation
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">About Page</h2>
            <p class="blog-post-meta">May 15, 2020 by <a href="#">Kajal Panigrahi</a></p>

            <p>This Project tries to facilitate a Yoga practioner/user to perform Yoga poses by guiding them correct postures using Deep Learning</p>
            <hr>
            <p>Human pose estimation is a deep-rooted problem in computer vision that has exposed many
            challenges in the past. Analyzing human activities is beneficial in many fields like videosurveillance, biometrics, assisted living, at-home health monitoring etc. </p>
            <p>With our fast-paced lives
            these days, people usually prefer exercising at home but feel the need of an instructor to evaluate
            their exercise form. As these resources are not always available, human pose recognition can be
            used to build a self-instruction exercise system that allows people to learn and practice exercises
            correctly by themselves. </p>
            <p>This project lays the foundation for building such a system by discussing
            various machine learning and deep learning approaches to accurately classify yoga poses  in real-time. The project also discusses various pose estimation and
            keypoint detection methods in detail and explains different deep learning models used for pose
            classification</p>
          </div>
        </div>  
      </div>  

    <hr>

    <footer class="blog-footer">
      <p>Yoga Pose Estimator by Kajal Panigrahi
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    </main>
    <%- include('../partials/dependency'); %>
  </body>
  </html>
